@font-face {
    font-family: "FontBlack";
    src: url(./fonts/Nunito-Black.ttf);
}

body {
    background-color: #565656;
    font-family: "FontBlack";
    margin: 0;
    cursor: default;
    filter: saturate(2);
    filter: contrast(1);
    filter: brightness(1);
}

h1 {
    color: #E9C893;
    text-align: center;
    margin: 5%;
    font-size: 40px;
}

h2 {
    color: #E9C893;
    background-image: url(./images/assault-rifle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 15px;
    text-align: center;
}

h2:hover {
    cursor: crosshair;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size: 18px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: #E9C893;
}



.description {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
    background-color: #d7cec7ce;
    color: #565656;
    padding: 5%;
    border-radius: 30px;
}

.description-text {
    margin-right: 10%;
}

button {
    margin: 0;
    padding: 15px;
    border: none;
    background-color: #1E392A;
    cursor: pointer;
    font-family: "FontBlack";
    font-size: 20px;
    color: #E9C893;
    outline: none;
    border-radius: 10px;
}

button:hover {
    color: #1E392A;
    background-color: #E9C893;
}

nav li {
    padding: 15px;
}

nav li:hover {
    background-color: #1E392A;
    cursor: pointer;
    font-family: "FontBlack";
    color: #E9C893;
    border-radius: 5px;
}

.top-part {
    margin: 0;
    padding: 1%;
    padding-bottom: 10%;
}

.game-mode {
    background-color: #d7cec7ce;
    color: #565656;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5%;
    padding: 3%;
    border-radius: 10px;
    width: 40%;

}

.game-modes {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    color: #1E392A;
    font-size: 25px;
    text-align: center;
}

h4 {
    font-size: 16px;
    text-align: center;
}

h5 {
    color: #1E392A;
    text-align: center;
    font-size: 20px;
}

.game-mode button {
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: 18px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.game-mode li {
    margin: 5px;
}



.first-bg {
    background: url(./images/soldier-14.png), url(./images/pngimg.com\ -\ soldier_PNG16072.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 350px, 400px;
    background-position-x: -5%, 105%;
}

.bottom-part {
    margin: 0;
    padding: 1%;
    padding-bottom: 10%;
}

.pachete img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pachet {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.pachet-jos {
    background-color: #d7cec7ce;
    color: #565656;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10%;
}

.pachet-sus {
    background-color: #d7cec7ce;
    color: #565656;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
}

.pachete {
    display: flex;
    justify-content: space-around;
    align-items: center;
}