@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url("./assets/fonts/Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #f2f5f9;
  --primary-color: #ff9c1a;
  --secondary-color: #ec1b09;
  --accent-color: #ffebd1;
  --accent-color2: #ffe3bf;
  --grey-color: #1a1003 50%;
  --gradient: linear-gradient(to right, #ff9c1a, #ec1b09);
  --font-main: "Poppins", sans-serif;
  --font-accent: "Raleway", sans-serif;
}

.card-orange {
  background-color: var(--accent-color);
  border-radius: 20px;
}

.card-dark-orange {
  background-color: var(--accent-color2);
  border-radius: 20px;
}

.card-blue {
  background-color: var(--main-color);
  border-radius: 20px;
}

body {
  background-color: var(--main-color);
}

h1 {
  font-family: var(--font-main);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--font-accent);
  font-size: 1.75rem;
}

h3 {
  font-family: var(--font-main);
  font-size: 1.5rem;
}

h4 {
  font-family: var(--font-main);
  color: var(--grey-color);
}

h5 {
  font-size: 0.7rem;
  color: rgba(26, 16, 3, 0.5);
}

h6 {
  font-family: "Pacifico";
  font-size: 1.5rem;
}

p {
  font-family: var(--font-accent);
  font-size: 1rem;
}

.opaque {
  color: #0b0909;
  opacity: 50%;
  font-family: var(--font-accent);
}

.main,
aside {
  background-color: white;
  border-radius: 20px;
}

.decorative-line {
  width: 40%;
  height: 2px;
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  border-radius: 2px;
  transform: rotate(0.2deg);
  transform-origin: left center;
  border-radius: 999px;
}

.profile-img {
  width: 50%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

button {
  background-color: #e1e8ef;
  border: none;
  border-radius: 20px;
}

button:hover {
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  scale: 1.1;
  transition: ease-in 0.1s;
  color: white;
}

button[aria-pressed="true"] {
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  color: white;
}

aside button {
  border-radius: 9px;
}

.resume-button {
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  color: white;
  border-radius: 20px;
}

.portofolio-filter button {
  background: transparent;
  color: #57657a;
}

.portofolio-filter button:hover {
  scale: 1.1;
  background-color: transparent;
  color: var(--primary-color);
}

.portofolio-filter button[aria-pressed="true"] {
  color: var(--secondary-color);
}

.fa-mobile-screen-button,
.heading-orange,
.fa-graduation-cap,
.fa-user-tie {
  background: linear-gradient(to bottom, #ff9c1a, #ec1b09);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-envelope-open-text,
.fa-laptop-code,
.fa-user-graduate {
  color: var(--primary-color);
}

.fa-code,
.fa-brain,
.fa-location-dot {
  color: var(--secondary-color);
}

.contact-side {
  border-bottom: 1px solid #e3e3e3;
  font-size: 0.9rem;
}

.nav-link.active {
  color: var(--secondary-color) !important;
}

a:active {
  color: var(--primary-color) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.mobile-nav {
  background-color: var(--main-color);
}

.card-orange-portofolio {
  background-color: #ffeed9;
  border-radius: 8px;
}

.card-dark-orange-portofolio {
  background-color: #ffe3bf;
  border-radius: 8px;
}

.link-hover {
  transition: transform 1.5s ease-in;
  transform: scale(1.05);
}

.portofolio-image {
  border-radius: 8px;
}

.skills {
  /* background-color: #F8FBFB; */
  border-radius: 20px;
}

.skills-cell {
  background-color: #e1e8ef;
  border-radius: 8px;
}

button[type="submit"] {
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  color: white;
}

input,
textarea {
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (min-width: 992px) {
  .contact-aside {
    border-bottom: 1px solid #e3e3e3;
  }
}

.certification {
  background-color: transparent;
}

.certification:hover {
  background: transparent;
  color: black;
  text-decoration: underline;
}

.modal-btn {
  background: linear-gradient(to right, #ff9c1a, #ec1b09);
  color: white;
  border-radius: 9px;
}

.modal-text {
  color: var(--grey-color);
}
