@font-face {
  font-family: "Font1";
  src: url("./assets/fonts/PoiretOne-Regular.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --primary: #f5f5f7;
  --secondary: #b7b7b7;
  --accent1: #eddfe0;
  --accent2: #F0EBE3;
}

.product {
  background-color: var(--primary) !important;
}

body,
nav,
p,
button {
  font-family: "Font1", sans-serif !important;
}

.cover-image {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

.product img {
  height: 300px;
  object-fit: cover;
}

button {
  all: unset; /* removes most styling */
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  background-color: var(--accent1);
}

