@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Thin.ttf') format('woff2');
    font-weight: 200;
    font-style: thin;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.ttf') format('woff2');
    font-weight: 600;
    font-style: medium;
}

html {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #022b3a;
}

input {
    margin: 10px;
    width: 60%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #bfdbf7;
    color: #022b3a;
}

input:hover {
    background-color: #1f7a8c;
    color: #e1e5f2;
}

::placeholder {
    color: #022b3a;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: none;
    margin: 0;
    color: rgb(160, 0, 0);
    text-align: center;
    margin: 0;
}

.succesful {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: none;
    margin: 0;
    color: rgb(0, 188, 0);
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgb(99, 99, 99);
    text-align: center;
}

.register-form,
.login-form,
.edit-form {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background-color: #e1e5f2;
    color: #022b3a;
    box-shadow: -3px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

button {
    margin: 20px;
    padding: 5px;
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #bfdbf7;
    color: #022b3a;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #1f7a8c;
    color: #e1e5f2;
}

a {
    color: #022b3a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.reset {
    display: none;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    input {
        width: 90%;
    }

    button {
        width: 90%;
    }

    .register-form,
    .login-form,
    .edit-form {
        margin: 5%;
    }

    h2 {
        margin: 3%;
    }

    h1 {
        margin: 10%;
        font-size: 25px;
    }
}