<h1>Home</h1>
<div class="table">
  <h2>Upcoming shifts</h2>
  <table class="shift-table" id="upcomingShiftsTable">
    <thead>
      <tr class="table-header">
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Hourly wage</th>
        <th>Workplace</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody id="upcomingShiftsTableBody">
      <tr *ngFor="let shift of upcomingShifts" class="shifts">
        <td class="mobile">Date</td>
        <td>{{ shift.Date }}</td>
        <td class="mobile">Start time</td>
        <td>{{ shift.start }}</td>
        <td class="mobile">End time</td>
        <td>{{ shift.end }}</td>
        <td class="mobile">Hourly wage</td>
        <td>{{ shift.wage }}</td>
        <td class="mobile">Workplace</td>
        <td>{{ shift.workplace }}</td>
        <td class="mobile">Profit</td>
        <td>{{ shift.profit }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="table">
  <h2>Past week shifts</h2>
  <table class="shift-table" id="pastWeekShiftsTable">
    <thead>
      <tr class="table-header">
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Hourly wage</th>
        <th>Workplace</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody id="pastWeekShiftsTableBody">
      <tr *ngFor="let shift of pastWeekShifts" class="shifts">
        <td class="mobile">Date</td>
        <td>{{ shift.Date }}</td>
        <td class="mobile">Start time</td>
        <td>{{ shift.start }}</td>
        <td class="mobile">End time</td>
        <td>{{ shift.end }}</td>
        <td class="mobile">Hourly wage</td>
        <td>{{ shift.wage }}</td>
        <td class="mobile">Workplace</td>
        <td>{{ shift.workplace }}</td>
        <td class="mobile">Profit</td>
        <td>{{ shift.profit }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="table">
  <h2>Best Month: {{ bestMonth }}</h2>
  <h2>Total Profit: {{ bestMonthProfit }}</h2>
  <table class="shift-table" id="bestMonthShiftsTable">
    <thead>

      <tr class="table-header">
        <th>Date</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Hourly wage</th>
        <th>Workplace</th>
        <th>Profit</th>
      </tr>
    </thead>
    <tbody id="bestMonthShiftsTableBody">
      <tr *ngFor="let shift of bestMonthShifts" class="shifts">
        <td class="mobile">Date</td>
        <td>{{ shift.Date }}</td>
        <td class="mobile">Start time</td>
        <td>{{ shift.start }}</td>
        <td class="mobile">End time</td>
        <td>{{ shift.end }}</td>
        <td class="mobile">Hourly wage</td>
        <td>{{ shift.wage }}</td>
        <td class="mobile">Workplace</td>
        <td>{{ shift.workplace }}</td>
        <td class="mobile">Profit</td>
        <td>{{ shift.profit }}</td>
      </tr>
    </tbody>
  </table>
</div>