html,
body {
  background-color: black !important;
}

body {
  font-family: "Bebas Neue", sans-serif !important;
}

h1 {
  color: white !important;
}

h2 {
  color: darkgray !important;
}

p {
  color: black !important;
}

.profile {
  width: 10vw;
  height: auto;
}

.donate {
  filter: invert(1);
  width: 40px;
  opacity: 40%;
}

.icon {
  filter: invert(1);
  width: 3vw;
  background-color: lightgrey;
}

.item {
  background-color: lightgrey;
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.item:active {
  background-color: grey;
}
