body {
  font-family: 'Bebas Neue', sans-serif !important;
}

.item {
  background-color: grey;
  cursor: pointer;
}

.icon {
  width: 5vw; /* 5% of viewport width */
  height: auto; /* keeps aspect ratio */
  max-width: 60px; /* optional max size */
  min-width: 40px; /* optional min size */
}

