body {
  background-color: #0a0a23;
  font-size: 1.2rem;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

@media (max-width: 639px) {
  body {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  #controls {
    flex-direction: column;
  }

  #stats {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  #text {
    text-align: center;
  }
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  width: 100%;
  font-size: 1.2rem;
}

/* .scene {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  border: 2px solid #000;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/town square.png");
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.knight,
.monster,
.weapon {
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 250px;
}

.weapon {
  height: 100px;
}

.knight {
  left: 20px;
}

.monster {
  right: 20px;
} */
